.root {
    -dark-back : rgb(67, 99, 132);
    -hi-light: #99ccff;
    -hi-light-glow: #5c85b7;

    -fx-base: -dark-back;
    -fx-background: -dark-back;
    -fx-control-inner-background:  -dark-back;
    -fx-background-color: radial-gradient(radius 30%, -hi-light, -fx-background) ;
}

#header {
    -fx-text-fill: -hi-light;
}

.text-area {
    -fx-background-color: -hi-light-glow, -hi-light, -hi-light-glow;
    -fx-background-radius: 5,4,3;
    -fx-background-insets: 0, 1, 3;
}

.list-view {
    -fx-focus-color: -hi-light;
}